.git/
env/
venv/
sent_emails/
media/
tests/
*/migrations/

__pycache__/
*.py[cod]


*.env
.idea
.DS_Store
.AppleDouble
.LSOverride

*.sublime-project
*.sublime-workspace

static/
posts/static/

db.sqlite3
